<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- home page -->
    <section id="home">
        <div class="home-page">
            <div class="heading">
                <div class="yoga-img">
                    <img src="./images/stretching-yoga-girl-isolated-background-sport-yoga-fitness-concept-3d-illustration-cartoon-characte-removebg-preview.png" alt="yoga-img">
                </div>
                <div class="quot">
                    <p>Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India and aim to control and still the mind.</p> 
                    <div class="advantage">
                        <p>Yoga improves strength, balance and flexibility. ...</p>
                        <p>Yoga helps with back pain relief. ...</p>
                        <p>Yoga can ease arthritis symptoms. ...</p>
                        <p>Yoga benefits heart health. ...</p>
                    </div>
                </div>
            </div>
        </div>       
    </section>
</body>
</html>