<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

        <!-- service page -->
        <section id="services">
            <div class="service">
                <h1>Services</h1>
                <div class="service-container-1">
                    <div class="service-card">
                        <h3>Online Teaching</h3>
                        <div class="desc">
                            <p>Duration: 1 hour</p>
                            <p>₹ 1000 / mo</p>
                            <p>Diet plan: not included</p>
                        </div>
                    </div>
                    <div class="service-card">
                        <h3>Online Teaching</h3>
                        <div class="desc">
                            <p>Duration: 1 hour</p>
                            <p>₹ 1500 / mo</p>
                            <p>Diet plan: included</p>
                        </div>
                    </div>
                    <div class="service-card">
                        <h3>Home Teaching</h3>
                        <div class="desc">
                            <p>Duration: 1 hour</p>
                            <p>₹ 1500 / mo</p>
                            <p>Diet plan: not included</p>
                        </div>
                    </div>
                    <div class="service-card">
                        <h3>Home Teaching</h3>
                        <div class="desc">
                            <p>Duration: 1 hour</p>
                            <p>₹ 2000 / mo</p>
                            <p>Diet plan: included</p>
                        </div>
                    </div>
                </div>
                <div class="service-container-2">
                    <div class="service-card">
                        <h3>Online Teaching</h3>
                        <div class="desc">
                            <p>Duration: 30 minute</p>
                            <p>₹ 600 / mo</p>
                            <p>Diet plan: not included</p>
                        </div>
                    </div>
                    <div class="service-card">
                        <h3>Online Teaching</h3>
                        <div class="desc">
                            <p>Duration: 30 minute</p>
                            <p>₹ 1000 / mo</p>
                            <p>Diet plan: included</p>
                        </div>
                    </div>
                    <div class="service-card">
                        <h3>Home Teaching</h3>
                        <div class="desc">
                            <p>Duration: 30 minute</p>
                            <p>₹ 1000 / mo</p>
                            <p>Diet plan: not included</p>
                        </div>
                    </div>
                    <div class="service-card">
                        <h3>Home Teaching</h3>
                        <div class="desc">
                            <p>Duration: 30 minute</p>
                            <p>₹ 1400 / mo</p>
                            <p>Diet plan: included</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>